{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList App</title>
    <link rel="stylesheet" href="{% static 'crud/css/bootstrap.css' %}">
</head>
<body>

    <div class="container">
        <h1 class="text-center p-3">TodoList App</h1>
        <div class="row">
            <div class="col-sm-4">
                <h4 class="text-center alert alert-info">Add/Update Task</h4>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="taskid" id="taskid" />
                        {{ form.as_p}}

                        <input type="button" class="btn btn-success" value="Save" id="btnsave">
                    </form>
            </div>

            <div class="col-sm-8">
                <h4 class="text-center alert alert-info">List of Tasks</h4>
                <div class="row mb-2">
                    <div class="col-md-6 mx-auto">
                        <div class="input-group rounded">
                            <input class="form-control border" type="search" placeholder="Search" id="search-input">
                        </div>
                    </div>
                    <div class="col-md-4 mx-auto">
                        <div class="input-group rounded" id="filter-status">
                            {{ form.status }}
                        </div>
                    </div>
                    <div class="col-md-2 mx-auto">
                        <button class="btn btn-secondary btn-block" id="reset-filters">Reset Filters</button>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Id</th>
                            <th scope="col" class="text-center">Name</th>
                            <th scope="col" class="text-center">Start Date</th>
                            <th scope="col" class="text-center">End Date</th>
                            <th scope="col" class="text-center">Status</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        {% for task in tasks %}
                        <tr>
                            <td class="text-center">{{task.id}}</td>
                            <td class="text-center"><a href="{% url 'task_detail' task.pk %}">{{ task.name }}</a></td>
                            <td class="text-center">{{task.start_date|date:"Y-m-d" }}</td>
                            <td class="text-center">{{task.end_date|date:"Y-m-d" }}</td>
                            <td class="text-center">{{task.status}}</td>
                            <td class="text-center">
                                <input type="button" value="Edit" class="btn btn-warning btn-sm btn-edit px-3" data-tid="{{task.id}}">
                                <input type="button" value="Delete" class="btn btn-danger btn-sm btn-del px-3" data-tid="{{task.id}}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



<script src="{% static 'crud/js/jquery.js' %}"></script>
<script src="{% static 'crud/js/popper.js' %}"></script>    
<script src="{% static 'crud/js/bootstrap.js' %}"></script>   
{% include 'crud/ajax.html' %}    
</body>
</html>