{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList App</title>
    <link rel="stylesheet" href="{% static 'crud/css/bootstrap.css' %}">
</head>
<body>

    <div class="container-fluid">
        <h1 class="text-center alert alert-danger">TodoList App</h1>
        <div class="row">
            <div class='col text-center'>
                <h4 class="text-center alert alert-info">Task Detail</h4>
                <p><strong>Name:</strong> {{ task.name }}</p>
                <p><strong>Start Date:</strong> {{ task.start_date }}</p>
                <p><strong>End Date:</strong> {{ task.end_date }}</p>
                <p><strong>Status:</strong> {{ task.status }}</p>
                <a href="{% url 'home' %}">Back to Home</a>
            </div>
        </div>
    </div>



<script src="{% static 'crud/js/jquery.js' %}"></script>
<script src="{% static 'crud/js/popper.js' %}"></script>    
<script src="{% static 'crud/js/bootstrap.js' %}"></script>   
{% include 'crud/ajax.html' %}    
</body>
</html>